<div>
<form data-dojo-type="dijit/form/Form" data-dojo-id="workbook_problems" id="workbook_problems" class="problem-selection-form">
	<h2>Workbooks</h2>
	<input type="hidden" name="username" value="{S_USERNAME}">

	<label for="workbook_select" >Workbook: </label>
	<select id="workbook_select" name="workbook_name" data-dojo-type="dijit/form/Select" required>
	</select>
	<br/>
	<br/>
	<button id="workbook_submit" name="submit" data-dojo-type="dijit/form/Button"> Open Workbook</button>
</form>
</div>