
<div>
<form data-dojo-type="dijit/form/Form" data-dojo-id="authored_problems" id="authored_problems" class="problem-selection-form">
	<h2>Authored Problems</h2>
	<input type="hidden" name="username" value="{S_USERNAME}">
	<input type="hidden" name="forumurl" value="{BOARD_URL}adm/create_forum.php">

	<label for="author_folders" class="extra">Folder: </label>
	<select id="author_folders" name="group" data-dojo-type="dijit/form/Select" required>
		<option value="personal">Personal</option>
		<option value="public">Public</option>
	</select>
	<br/>
	<input type="radio" id="radio_problem_name" name="problem_name" value="name" data-dojo-type="dijit/form/RadioButton" checked="checked"> 
	<label for="radio_problem_name">Name: </label>
	<select id="author_problem_name" name="author_problem_name" data-dojo-type="dijit/form/Select"  style="width:250px" required>
		<option value="">----Select----</option>
	</select>
	<br/>
	<input type="radio" id="radio_problem_newname" name="problem_name" value="new_name" data-dojo-type="dijit/form/RadioButton" > 
	<label for="radio_problem_newname" >New Name: </label>
	<input type="text" name="problem_new_name" data-dojo-type="dijit/form/ValidationTextBox" id="author_problem_new_name" 
	pattern='^[A-Za-z0-9\-]+$'
	invalidMessage= "Problem names must be between 1 and 30 characters, and may only include alphanumeric characters and the - symbol"
	maxLength ="30"
	style="width: 250px;"/>
	<br/>
	<label for="author_problem_mode" class="extra">Mode: </label>
	<select id="author_problem_mode" name="mode" data-dojo-type="dijit/form/Select" required style="width:250px">
		<option value="AUTHOR">Author</option>
		<option value="COACHED">Coached</option>
		<option value="STUDENT">Immediate Feedback (Student)</option>
		<option value="TEST">Delayed Feedback (Test)</option>
		<option value="EDITOR">No Feedback (Editor)</option>
	</select>
	<br/>
	<button id="authored_problems_submit" name="submit" data-dojo-type="dijit/form/Button"> Open Problem</button>
</form>
</div>