<!-- INCLUDE overall_header.html -->
 <script type="text/javascript" 
        data-dojo-config = "
        	isDebug: true, 
        	parseOnLoad: true,
        	async: 1,
        	dojoBlankHtmlUrl: '/blank.html',
	        packages: [{name: 'dragoon-forum', location: location.pathname.replace(/\/[^/]+$/, '') + '/styles/prosilver/template/dragoon-forums/js'},
	        		   {name: 'dragoon-public-login', location: '/demo/publicLogin'}]"
         src="https://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js" ></script>

<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/claro.css"/>
<link rel="stylesheet" type="text/css" href="./styles/prosilver/template/dragoon-forums/css/style.css"/>
<script>
	require(["dojo/parser",
			 "dojo/dom",
         	 "dojo/ready",
         	 "dragoon-forum/assigned-problems/assigned-problems",
         	 "dojo/domReady!"],
         	 function(parser, dom, ready, assignedProblems){
         	 	ready(function(){
         	 		var assignedProblems = new AssignedProblems("./styles/prosilver/template/dragoon-forums/js/assigned-problems/problem-index.json", "sos326_f15", "{S_USERNAME}", "{BOARD_URL}", 2, true).placeAt("officialContainer");

         	 	 });
         });
</script>
<h2>SoS 326 - Sustainable Ecosystems Fall 2015</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"></span>
		<div>
		<div class="content claro">
			<div id="officialContainer"></div>
			<div id="page-wrap">
<!-- IF U_ACP -->
			    <!--<h2><a href="/demo/log/dashboard.html?t=sosDb">Dashboard (Problems)</a></h2>-->
			    <!--<h2><a href="/demo/log/schema_dashboard.html?m=STUDENT&s=sos326_f15">Dashboard (Generic models)</a></h2>
			    <h2><a href="/demo/log/dashboard.html?t=leader&m=STUDENT&s=sos326_f15&us={S_USERNAME}">Open learner model (Problems)</a></h2>
			    <h2><a href="/demo/log/schema_dashboard.html?t=olm&m=STUDENT&s=sos326_f15&us={S_USERNAME}">Open learner model (Generic models)</a></h2>-->
<!-- ENDIF -->
			    <h2><a href="viewforum.php?f=2">Problem Discussions</a></h2>
		    </div>
		</div>
	</div>
</div>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
