<!-- INCLUDE overall_header.html -->
 <script type="text/javascript" 
        data-dojo-config = "
        	isDebug: true, 
        	parseOnLoad: true,
        	async: 1,
        	dojoBlankHtmlUrl: '/blank.html',
	        packages: [{name: 'dragoon-forum', location: location.pathname.replace(/\/[^/]+$/, '') + '/styles/prosilver/template/dragoon-forums/js'},
	        		   {name: 'dragoon-public-login', location: '/demo/publicLogin'}]"
         src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js" ></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/claro.css"/>
<link rel="stylesheet" type="text/css" href="./styles/prosilver/template/dragoon-forums/css/style.css"/>
<script>
	require(["dojo/parser",
			 "dojo/dom",
         	 "dojo/ready",
         	 "dragoon-forum/authored-problems/authored-problems",
         	 "dragoon-forum/official-problems/official-problems",
         	 "dragoon-forum/workbooks/workbooks",
         	 "dojo/domReady!"],
         	 function(parser, dom, ready, authoredProblems, officialProblems, workbookWidget){
         	 	ready(function(){
         	 		var OfficialProblems = new officialProblems("./styles/prosilver/template/dragoon-forums/js/official-problems/problem-index.json", "testing", "{S_USERNAME}", "{BOARD_URL}", 2, true).placeAt("officialContainer");

			 		var AuthoredProblems = new authoredProblems("http://dragoon.asu.edu/devel/available_problems.php","testing", "{S_USERNAME}", "{BOARD_URL}", 2, true).placeAt("authorContainer");

					var WorkbookWidget = new workbookWidget("testing", "{S_USERNAME}").placeAt("workbookContainer");
         	 	 });
         });
</script>
<h2>Sample Class</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"></span>
		<div>
		<div class="content claro">
			<div id="officialContainer"></div>
			<div id="authorContainer"></div>
			<div id="workbookContainer"></div>
			<div id="page-wrap">
				<h2><a href="/demo/log/dashboard.html?m=STUDENT&s=testing">Dashboard (Problems)</a></h2>
			    <h2><a href="/demo/log/schema_dashboard.html?m=STUDENT&s=testing">Dashboard (Generic models)</a></h2>
			    <h2><a href="/demo/log/dashboard.html?t=leader&m=STUDENT&s=testing&us={S_USERNAME}">Open learner model (Problems)</a></h2>
			    <h2><a href="/demo/log/schema_dashboard.html?t=olm&m=STUDENT&s=testing&us={S_USERNAME}">Open learner model (Generic models)</a></h2>
			    <h2><a href="viewforum.php?f=2">Problem Discussions</a></h2>
		    </div>
		</div>
	</div>
</div>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
